* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*Estilos de fuente*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Quantico", sans-serif;
  font-family: "Salsa", cursive;
}

h1 {
  font-size: 50px;
  padding: 20px;
  font-weight: bold;
  color: #084B83;
}

h3 {
  padding: 20px;
  font-size: 30px;
}

/*Estilos de header*/
header {
  background-color: #084B83;
  border: 3px inset #97DB4F;
}
header nav ul {
  display: flex;
  list-style: none;
  column-gap: 30px;
  padding: 30px;
}
header nav ul li a {
  text-decoration: none;
  color: #97DB4F;
}

main .popup-container {
  display: inline-flex;
}
main .popup-container .button {
  border: 2px solid #97DB4F;
  height: 40px;
  line-height: 40px;
  background: #084B83;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 14px;
  color: #97DB4F;
  cursor: pointer;
}
main .popup-container .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 400ms all;
}
main .popup-container .popup > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
main .popup-container .popup .inner {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  min-width: 300px;
  box-sizing: border-box;
  transition: 400ms all;
  z-index: 10;
  max-height: 100%;
  overflow: auto;
}
main .popup-container .popup .inner .title {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: sticky;
  top: 0;
  background: #fff;
}
main .popup-container .popup .inner .title h6 {
  font-size: 15px;
  font-weight: 500;
}
main .popup-container .popup .inner .title label {
  font-size: 14px;
  color: #999;
  cursor: pointer;
}
main .popup-container .popup .inner .title label:hover {
  color: #222;
}
main .popup-container .popup .inner .content {
  padding: 5px 15px 15px;
}
main .popup-container .popup .inner .content ul {
  list-style: none;
}
main .popup-container .popup .inner .content ul li {
  margin-bottom: 15px;
}
main .popup-container .popup .inner .content ul li:last-child {
  margin-bottom: 0;
}
main .popup-container .popup .inner .content ul li input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size: 12px;
}
main .popup-container .popup .inner .content ul li input:focus {
  outline: 0;
  border-color: #084B83;
}
main .popup-container .popup .inner .content ul li button {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: none;
  background: #084B83;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
main .popup-container .popup .inner .content p {
  font-size: 13px;
  line-height: 130%;
  margin-bottom: 15px;
}
main .popup-container .popup .inner .content p:last-child {
  margin-bottom: 0;
}
main .popup-container .popup .inner .content .close-btn {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}
main .popup-container .popup .inner .content .close-btn label {
  background: rgba(0, 0, 0, 0.05);
  display: block;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  color: #444;
  border-radius: 3px;
  cursor: pointer;
}
main .popup-container .popup .inner .content .close-btn label:hover {
  background: rgba(0, 0, 0, 0.1);
}
main .popup-container > input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
main .popup-container > input:checked + .popup {
  opacity: 1;
  visibility: visible;
}
main .popup-container > input:checked + .popup .inner {
  top: 50%;
}
main .ahorroForm {
  display: flex;
  padding: 20px;
  justify-content: center;
}
main .ahorroForm .formulario .formSalario {
  padding-bottom: 10px;
  font-size: 35px;
}
main .ahorroForm .formulario .formSalario input {
  width: 250px;
  height: 30px;
}
main .ahorroForm button {
  width: 100px;
  height: 50px;
  background-color: #084B83;
  color: #97DB4F;
  font-size: 15px;
  font-weight: bold;
}
main .ahorroForm button:hover {
  border: 2px solid #97DB4F;
}
main .ahorroForm .formGastos div {
  margin-bottom: 20px;
  font-size: 20px;
}
main .ahorroForm .formGastos div input {
  width: 200px;
  height: 25px;
}
main .resulForm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}
main .resulForm input {
  border: none;
}
main .resulForm .noAhorrasteOculto {
  display: none;
}
main .resulForm .noAhorrasteMostrar {
  display: block;
}

.registroTabla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registroTabla h1 {
  text-align: center;
}
.registroTabla #usuarioTabla {
  width: auto;
  font-size: 35px;
  margin-left: 100px;
  border: none;
}
.registroTabla .tabla table {
  margin-top: 20px;
  width: 50vh;
  height: 30px;
}
.registroTabla .sumatoriaAhorro #totalAhorro {
  display: flex;
  justify-content: flex-end;
}
.registroTabla #sumaTotal {
  margin-left: 10px;
}

/*# sourceMappingURL=styles.css.map */
