
.registroTabla {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }

    #usuarioTabla {
        width: auto;
        font-size: 35px;
        margin-left: 100px;
        border: none;
    }
    .tabla{
            table {
        margin-top: 20px;
        width: 50vh;
        height: 30px;
        border: 3px solid $color-principal;
        tr{
            border: 3px dotted $color-secundario ;
        }
    }
    }


    .sumaTotal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-top: 50px;
    }
    input{
        border: none;
        width: 100px;
        font-weight: bold;
        font-size: 20px;
        margin-left: 100px;
    }

    .graficaM{
        margin-top: 50px;
        width: 500px;
        height: 500px;
    }

}