.registroTabla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }

    #usuarioTabla {
        width: auto;
        font-size: 35px;
        margin-left: 100px;
        border: none;
    }
    .tabla{
            table {
        margin-top: 20px;
        width: 50vh;
        height: 30px;
    }
    }


    .sumatoriaAhorro{
        #totalAhorro{
        display: flex;
        justify-content: flex-end;
        }

    }
    #sumaTotal {
        margin-left: 10px;
    }
}