/*Estilos de header*/
header{
    background-color: $color-principal;
    border: 3px inset $color-secundario;
    nav{
        ul{
            display: flex;
            list-style: none;
            column-gap: 30px;
            padding: 30px;
            li{
                a{
                    text-decoration: none;
                    color: $color-secundario;
                }
            }

        }
    }
}